@import '../../scss/variables';

.root {
  li {
    display: inline-block;

    

    a {
        display: inline-block;
        color: $orange;
        text-align: center;
        width: 45px;
        height: 45px;
        line-height: 42px;
        border: 1px solid $orange;
        border-radius: 30px;
        margin-right: 15px;
        cursor: pointer;

        &:hover {
            background-color: $orange;
            color: white;
    }
  }
    
  }

  :global {
    .selected {
        a {
            background-color: $orange;
            color: white;
        }
    }
  }
}