.root {
    position: relative;
    left: -150px;
    
}

.icon {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    left: 12px;
    bottom: 9px;
}

.input {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 8px 20px;
    width: 300px;
    border-radius: 12px;
    font-size: 14px;
    padding-left: 35px;
    transition: all 0.15s ease-in-out;

    &:focus {
        border: 1px solid rgba(0,0,0,0.4);
        width: 350px;
    }
}

.close_icon {
    display: block;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 11px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}